<!DOCTYPE html>
<html lang="en">
<head>
  <script src="../vue.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <p v-for="user in list">{{user.name}}--{{user.id}}</p>
    <p v-for="(user,i) in list">索引:{{i}}--{{user.name}}--{{user.age}}</p>
</div>


<script>
  var vm=new Vue({
    el:"#app",
    data:{
      list:[
        {id:'1',name:'cang',ctime:new Date()},
        {id:'2',name:'tai',ctime:new Date()},
        {id:'3',name:'yue',ctime:new Date()},
        {id:'4',name:'chen',ctime:new Date()}
      ]
    },
    methods:{}
  })


</script>
</body>
</html>
