<!DOCTYPE html>
<html lang="en">
<head>
  <script src="../vue.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <p v-for="user in list">{{user.name}}--{{user.age}}</p>
    <p v-for="(user,i) in list">索引:{{i}}--{{user.name}}--{{user.age}}</p>
</div>
<script>
  var vm=new Vue({
    el:"#app",
    data:{
      list:[
        {name:"cang",age:12},
        {name:"zzz",age:15},
        {name:"laozi",age:21}
      ]
    },
    methods:{}
  })
</script>
</html>
